PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=e_health_lingkungan

JWT_SECRET=isi_dengan_secret_key_anda

LLM_API_KEY=isi_dengan_api_key_anda
LLM_BASE_URL=https://api.bluesminds.com/v1
LLM_MODEL=gpt-4o